version: '3.8'
services:
  neo4j:
    image: neo4j:4.4-community
    container_name: nosql_lab_neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
    volumes:
      - ./data:/data
      - ./logs:/logs
      - ./:/scripts
